<div id="webfont-example">
  <i class="cff cff-example" style="color: blue"></i>
  <i class="cff" style="color: green">example2</i>
</div>
<div>
  <cf-button text="Basic"></cf-button>
  <cf-button class="fill" text="Fill" animationColorValue="#19bc8b"></cf-button>
  <cf-button
    class="pulse"
    text="Pulse"
    animationColorValue="#19bc8b"
  ></cf-button>
  <cf-button
    class="close"
    text="close"
    animationColorValue="#19bc8b"
  ></cf-button>
  <cf-button
    class="raise"
    text="raise"
    animationColorValue="#19bc8b"
  ></cf-button>
  <cf-button class="up" text="Pulse" animationColorValue="#19bc8b"></cf-button>
  <cf-button
    class="slide"
    text="slide"
    animationColorValue="#19bc8b"
  ></cf-button>
  <cf-button
    class="offset"
    text="offset"
    animationColorValue="#19bc8b"
  ></cf-button>
  <cf-button class="up" text="up" animationColorValue="#19bc8b"></cf-button>
</div>
