$button-color: #aeaeae;
$button-hover-color: #8c8c8c;

.button {
  display: inline-block;
  margin: 0 5px;
  padding: 1em;
  font-weight: 700;
  background-color: $button-color;
  border-radius: 0.35em;
  cursor: pointer;

  &:hover {
    background-color: $button-hover-color;
  }
}
